// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(type="text/javascript", src='js/waypoints.min.js')
script(type="text/javascript", src='js/bootstrap.min.js')
script(type="text/javascript", src='js/scripts.js')
script(type="text/javascript", src='js/jquery.flexslider.js')
script(type="text/javascript", src='js/modernizr.js')
