link(href='http://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
link(href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
link(href='css/bootstrap.min.css', rel='stylesheet')
link(href='css/flexslider.css', rel='stylesheet')
link(href='css/animate.css', rel='stylesheet')
link(href='css/master.css', rel='stylesheet')
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
