link(href='http://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
link(href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
link(href='css/bootstrap.min.css', rel='stylesheet')
link(href='css/flexslider.css', rel='stylesheet')
link(href='css/animate.css', rel='stylesheet')
